.panel {
     margin-bottom: 0px;
}

.panel-primary {
    border-color: #263238;
    .panel-heading {
        color: #607D8B;
        background-color: #212f36;
        border-color: #263238;
      }
}
.truck-title{
    padding: 4px;
}