.fridge {
  color: white;
  border-radius: 3px;
  padding: 5px;
  width: 170px;
  font-size: 15px;
  margin: 3px;
  margin-left: 0px;
  display: inline-block;
  background-color: #bbb;
}

.stove {
  color: white;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  width: 70px;
  margin: 3px;
  margin-left: 0px;
  display: inline-block;
  background-color: #bbb;
}

.oven {
  color: white;
  border-radius: 3px;
  padding: 4px;
  font-size: 15px;
  width: 50px;
  margin: 3px;
  margin-left: 0px;
  display: inline-block;
  background-color: #bbb;
}
