.fridge {
  color: white;
  border-radius: 3px;
  padding: 5px;
  width: 170px;
  font-size: 15px;
  margin: 3px;
  margin-left: 0px;
  display: inline-block;
  background-color: #bbb;
}

.stove {
  color: white;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  width: 82px;
  margin: 3px;
  margin-right: 5px;
  display: inline-block;
  background-color: #bbb;
  margin-left: 1px;
}

.oven {
  color: white;
  border-radius: 3px;
  padding: 4px;
  font-size: 15px;
  width: 52px;
  margin: 3px;
  margin-left: 3px;
  display: inline-block;
  background-color: #bbb;
  margin-right: 4px;
}
