body {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

html {
  width: 100%;
  height: 100%;
}

.navbar-default {
  background-color: #000;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #b5b5b5;
  background-color: transparent;
}

.navbar {
  padding: 20px 0;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-brand img {
  margin-top: -7px;
}

.top-nav-collapse {
  padding: 0;
}

.intro-section,
.about-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #000000;
}

.services-section {
  height: 100%;
  padding-top: 10px;
  text-align: center;
  background: #000000;
}

.contact-section {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #000000;
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #000000;
  margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background: #428bca;
}
.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}
.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: ' ';
}
.item.list-group-item img {
  float: left;
}
.item.list-group-item:after {
  clear: both;
}

.list-group-item-text {
  margin: 0 0 11px;
}
